.breadcrumbs {
  font-size: 0;
}

.breadcrumbs__link {
  @include link-reset;

  position: relative;

  font-size: 15px;
  line-height: 16px;

  color: #888888;

  &--active {
    color: #00adef;
  }

  &:not(:last-child) {
    margin-right: 28px;
  }

  &:not(:last-child)::before {
    content: "/";

    position: absolute;
    top: 0;
    right: -18px;
  }

  &:hover,
  &:focus {
    color: #00adef;
    outline: none;
  }
}
