.breadcrumbs {
  font-size: 0;
}

a.breadcrumbs__link {
  @include link-reset;

  position: relative;

  font-size: 15px;
  line-height: 16px;

  color: #888888;

  &--active {
    color: #00adef;
  }

  &:not(:last-child) {
    margin-right: 28px;
  }

  &:not(:last-child)::before {
    content: "/";

    position: absolute;
    top: 0;
    right: -18px;
  }

  &:hover,
  &:focus {
    color: #00adef;
    outline: none;
  }
}

@include mobile {
  .breadcrumbs {
    padding: 17px 16px 16px;
    margin-bottom: 25px;

    background-color: #f6f6f6;
  }

  .breadcrumbs__link {
    font-size: 13px;
    line-height: 15px;

    &:last-child {
      display: none;
    }

    &:first-child {
      position: relative;
      padding-left: 25px;

      color: #888888;
    }

    &:first-child::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 10px;
      height: 15px;

      background-image: url("../img/icon_arrow-left.svg");
      background-repeat: no-repeat;
      background-position: top 50% left 0;
    }
  }
}
