.monitoring-center {
  @include container;

  padding-bottom: 80px;

  &__title {
    @include title-font;

    margin-bottom: 25px;

    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }

  &__desc {
    @include desc-font;

    max-width: 980px;
    margin: 0 auto;

    text-align: center;
    letter-spacing: 0;
  }
}

@media (max-width: 1515px) {
  .monitoring-center {
    &__title {
      font-size: 32px;
      line-height: 35px;
    }

    &__desc {
      @include desc-font;

      margin: 0 auto;
      max-width: 760px;

      text-align: center;
      font-size: 15px;
      line-height: 21px;
      letter-spacing: 0;
    }
  }
}

@include tablet {
  .monitoring-center {
    padding-bottom: 0;
  }
}

@include mobile-l {
  .monitoring-center {
    &__title {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
