.promo-engineering-center {
  background: linear-gradient(180deg, #e7ecec, #e3eaea);

  &__container {
    @include container;

    padding-top: 114px;
    padding-bottom: 133px;

    background-image: url("../img/stuff-big.png");
    background-repeat: no-repeat;
    background-size: 570px auto;
    background-position: bottom right 53px;

    @include retina {
      background-image: url("../img/stuff-big@2x.png");
    }
  }

  &__breadcrumbs {
    margin-bottom: 80px;
  }

  &__title {
    @include title-font;

    margin-bottom: 25px;
  }

  &__desc {
    @include desc-font;

    width: 705px;

    & br {
      display: none;
    }
  }
}

@include desktop-medium {
  .promo-engineering-center {
    &__container {
      max-width: 1024px;
      min-height: 423px;
      padding-top: 98px;
      padding-bottom: 50px;
      padding-left: 53px;
      padding-right: 53px;

      background-image: url("../img/stuff-1.png");
      background-size: 410px auto;
      background-position: bottom right 53px;

      @include retina {
        background-image: url("../img/stuff-1@2x.png");
      }
    }

    &__breadcrumbs {
      margin-bottom: 52px;
    }

    &__title {
      width: 444px;

      font-size: 42px;
      line-height: 46px;
    }

    &__desc {
      width: 444px;

      & br {
        display: block;
      }
    }
  }
}

@include tablet {
  .promo-engineering-center {
    &__container {
      max-width: 768px;
      min-height: 344px;
      padding-top: 35px;
      padding-bottom: 40px;
      padding-left: 32px;
      padding-right: 32px;

      background-size: 336px auto;
      background-position: bottom right 32px;
    }

    &__breadcrumbs {
      margin-bottom: 45px;
    }

    &__title {
      width: 336px;

      font-size: 32px;
      line-height: 37px;
    }

    &__desc {
      width: 336px;

      & br {
        display: block;
      }
    }
  }
}

@include mobile-l {
  .promo-engineering-center {
    &__container {
      min-height: auto;
      padding-bottom: 330px;

      background-size: 416px auto;
      background-position: bottom center;
    }

    &__breadcrumbs {
      margin-bottom: 45px;
    }

    &__title {
      width: auto;
      margin: 0 auto 25px;

      font-size: 24px;
      line-height: 27px;
      text-align: center;
    }

    &__desc {
      width: auto;
      margin: auto;
      padding: 0 35px;

      text-align: center;

      & br {
        display: block;
      }
    }
  }
}

@include mobile {
  .promo-engineering-center {
    &__container {
      min-height: auto;
      padding-bottom: 230px;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;

      background-size: 288px auto;
    }

    &__breadcrumbs {
      margin-bottom: 35px;
    }

    &__title {
      width: auto;
      margin: 0 auto 25px;
      padding: 0 16px;
    }

    &__desc {
      padding: 0 16px;
    }
  }
}
