.rent {
  @include container;

  padding-top: 80px;
  padding-bottom: 80px;

  &__title {
    @include title-font;

    margin-bottom: 25px;

    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }

  &__desc {
    @include desc-font;

    max-width: 1170px;
    margin: 0 auto;

    text-align: center;
  }
}

@media (max-width: 1515px) {
  .rent {
    &__title {
      font-size: 32px;
      line-height: 35px;
    }

    &__desc {
      @include desc-font;

      max-width: 918px;
      margin: 0 auto;

      font-size: 15px;
      line-height: 21px;
      letter-spacing: 0;
      text-align: center;
    }
  }
}

@include tablet {
  .rent {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

@include mobile-l {
  .rent {
    &__title {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
