.service-form {
  @include container;

  margin-bottom: 120px;

  background-image: url("../img/48hours-vertical.png");
  background-repeat: no-repeat;
  background-position: top right 53px;
  background-size: auto 100%;

  @include retina {
    background-image: url("../img/48hours-vertical@2x.png");
  }

  &__content {
    width: 810px;
    padding: 60px;

    background-color: #f6f6f6;
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;

    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }

  &__desc {
    margin: 0;
    margin-bottom: 50px;

    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
  }

  &__submit {
    width: 330px;
    margin: 0 auto;
  }
}

.service-form form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-form label:not([for="agreement"]) {
  margin-bottom: 25px;
}

.service-form__label {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  &.js--error {
    color: #ff0000;
  }
}

.service-form__input,
.service-form__text {
  padding: 0 15px;

  border: 1px solid #e7e7e7;
  border-radius: 5px;

  font-size: 15px;
  line-height: 16px;

  transition: all 0.3s ease;

  &:hover,
  &:focus {
    border-color: #00adef;
    outline: none;
  }

  &.js--error {
    border-color: #ff0000;
  }

  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }

  &::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }

  &:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }
}

.service-form__input {
  width: 335px;
  height: 48px;
}

.service-form__input.service-form__input--city {
  width: 335px !important;
  height: 48px;
}

.service-form__text {
  width: 690px;
  height: 96px;
  padding: 15px;

  resize: none;
}

.service-form__agreement-wrapper {
  padding-left: 48px;
  margin-bottom: 50px;
}

.service-form__agreement-wrapper input:checked + .service-form__text-wrapper label::before {
  border: none;
  background-color: transparent;
  background-image: url("../img/icon_checked.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
}

.service-form__text-wrapper {
  position: relative;

  font-size: 13px;
  line-height: 15px;

  &.js--error {
    color: #ff0000;
  }
}

.service-form__agreement-wrapper label {
  font-weight: 300;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: -48px;

    width: 20px;
    height: 20px;
    margin-top: -10px;

    border-radius: 2px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
  }

  &:hover::before {
    cursor: pointer;
    border-color: #00adef;
  }

  &.js--error::before {
    border-color: #ff0000;
  }
}

.service-form input[name="agreement"]:focus + div label::before {
  border-color: #00adef;
}

.service-form__agreement-wrapper a {
  @include link-reset;

  display: block;

  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}

.service-form__agreement-link {
  border: none;
}

@include desktop-medium {
  .service-form {
    margin-bottom: 80px;
    max-width: 1024px;
    padding-left: 53px;
    padding-right: 53px;

    background-image: url("../img/48hours-vertical@2x.png");
    background-position: top right -40px;
    background-clip: content-box;

    &__content {
      width: 602px;
      padding: 60px 50px;
    }

    &__desc {
      line-height: 20px;
    }
  }

  .service-form__input {
    width: 240px;
  }

  .service-form__input.service-form__input--city {
    width: 240px !important;
  }

  .service-form__text {
    width: 500px;
  }
}

@include tablet {
  .service-form {
    margin-bottom: 80px;
    max-width: 704px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 300px;

    background-image: url("../img/48hours.png");
    background-position: top right;
    background-size: 704px auto;
    background-clip: padding-box;

    @include retina {
      background-image: url("../img/48hours@2x.png");
    }

    &__content {
      width: 100%;
      padding: 60px 102px;
    }

    &__title,
    &__desc {
      text-align: center;
    }
  }
}

@include mobile-l {
  .service-form {
    margin-bottom: 0;
    max-width: 100%;
    padding-top: 41.7%;

    background-size: 100% auto;

    &__content {
      padding: 50px 0;
    }

    &__desc {
      width: 416px;
      margin: 0 auto 50px;
    }
  }

  .service-form__input {
    width: 416px;
  }

  .service-form__input.service-form__input--city {
    width: 416px !important;
  }

  .service-form__text {
    width: 416px;
  }

  .service-form label:not([for="agreement"]) {
    margin: 0 auto 25px;
  }

  .service-form__agreement-wrapper {
    max-width: 416px;
    margin: 0 auto 50px;
  }

  .service-form__agreement-wrapper label::before {
    top: 15px;
  }
}

@include mobile {
  .service-form {
    padding-top: 62.5%;

    background-size: 113% auto;

    &__content {
      padding: 50px 5%;
    }

    &__title {
      padding: 0 20px;
    }

    &__desc {
      width: auto;
      padding: 0 20px;
      margin: 0 auto 50px;
    }

    &__submit {
      width: 260px;
    }
  }

  .service-form__input {
    width: 288px;
  }

  .service-form__input.service-form__input--city {
    width: 288px !important;
  }

  .service-form__text {
    width: 288px;
  }

  .service-form__agreement-wrapper {
    max-width: 288px;
  }
}
