.warranty-registration {
  @include container;

  padding-top: 140px;

  &__content {
    width: 1170px;
    padding: 56px 480px 56px 120px;
    margin: 0 auto;

    background-color: #f6f6f6;
    background-image: url("../img/icon_warranty-logo.svg");
    background-repeat: no-repeat;
    background-position: top 72px right 122px;
  }

  &__title {
    width: 400px;
    margin: 0;
    margin-bottom: 25px;

    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.32px;
  }

  &__desc {
    margin: 0;
    margin-bottom: 50px;

    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
  }

  &__link {
    width: 330px;
  }
}

@include desktop-medium {
  .warranty-registration {
    padding-top: 145px;

    &__content {
      width: auto;
      max-width: 918px;
      padding: 47px 395px 47px 80px;

      background-position: top 75px right 79px;
      background-size: 207px auto;
    }
  }
}

@include tablet {
  .warranty-registration {
    padding-top: 80px;

    &__content {
      max-width: 704px;
      padding: 51px 308px 51px 60px;

      background-position: top 136px right 60px;
      background-size: 184px auto;
    }

    &__title {
      width: 330px;
    }

    &__desc {
      line-height: 22px;
    }
  }
}

@include mobile-l {
  .warranty-registration {
    padding-top: 60px;

    &__content {
      max-width: 416px;
      padding: 230px 40px 50px;

      background-position: top 50px center;
      background-size: 108px auto;
    }

    &__title {
      width: auto;

      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }

    &__desc {
      text-align: center;
    }
  }
}

@include mobile {
  .warranty-registration {
    &__content {
      max-width: 288px;
      padding: 209px 14px 50px;

      background-size: 90px auto;
    }

    &__title {
      letter-spacing: 0;
    }

    &__desc {
      text-align: center;
    }

    &__link {
      width: 260px;
      padding: 15px 20px;
    }
  }
}
